.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password .container {
  max-width: 500px;
  margin: auto;
}

.forgot-password form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.forgot-password .forgot-password-email {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.forgot-password form label {
  color: var(--gray-color);
  font-weight: 600;
  text-transform: capitalize;
}

.forgot-password form input {
  padding: 5px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--white-color);
}
