.create-post {
  height: calc(100vh - 120px);
  & form {
    max-width: 700px;
    margin: auto;
    & input,
    & textarea,
    & select {
      width: 100%;
      border: 1px solid var(--gray-color);
      border-radius: 10px;
      padding: 5px;
      font-size: 19px;
    }
    & textarea {
      height: 120px;
      resize: none;
    }
    & input[type="file"] {
      cursor: pointer;
      background-color: var(--gray-color);
    }
  }
}
